body {
    background-color: darkgray;

    .mainTextArea {
        left: 150px;
        position: absolute;
        width: 85%;
        height: 95%;
        background-color: darkgray;
        color: black;
        border-color: black;
    }

    .scrollingButtons {
        width: 125px;
        border: 1px solid black;
        height: 92.5%;
        overflow: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        border-color: transparent;

        .newPage {
            font-family: cursive;
        }
    }
    .infoButton {
        left: 10px;
        bottom: 20px;
        width: 110px;
        position: absolute;
        font-family: cursive;
    }
    .loginSystem {
        right: 20px;
        top: 20px;
        position: absolute;
    }
    .saveAndLoad {
        right: 60px;
        top: 500px;
        width: 75px;
        position: absolute;
    }
    .rename {
        right: 20px;
        bottom: 20px;
        position: absolute;
        text-align: center;
    }
    .renameName {
        background-color: darkgray;
    }
    
}