body {
    .mainTextArea {
        left: 150px;
        position: absolute;
        width: 75%;
        height: 95%;
    }

    .newPage {
        font-family: cursive;
    }

    .scrollingButtons {
        width: 5%;
        border: 1px solid black;
        height: 50%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }
    .information {
        left: 10px;
        bottom: 16px;
        position: absolute;
    }
    .loginSystem {
        right: 20px;
        top: 20px;
        position: absolute;
    }
    .saveAndLoad {
        right: 60px;
        top: 500px;
        width: 75px;
        position: absolute;
    }
    .rename {
        right: 20px;
        bottom: 20px;
        position: absolute;
        text-align: center;
    }
}