body {
    background-color: #4AC3EC;

    *{
        font-family: Georgia, serif;
        color: black;
        border-color: black;
    }

    .mainTextArea {
        margin-left: 130px;
        position: absolute;
        width: calc(100% - 375px);
        height: calc(100% - 28px);
        background-color: transparent;
        color: black;
        border-color: black;
    }

    .scrollingButtons {
        width: 125px;
        border: 1px solid black;
        height: calc(100% - 50px);
        overflow: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        border-color: transparent;
    }
    .infoButton {
        left: 10px;
        bottom: 20px;
        width: 110px;
        position: absolute;
        background-color: #EC964A;
    }
    .loginSystem {
        right: 20px;
        top: 20px;
        position: absolute;
        .loginButton {
            right: 75px;
            position: absolute;
            background-color: #EC964A;
        }
    }
    .clearData {
        right: 20px;
        bottom: 100px;
        position: absolute;
        .clearDataButton {
            background-color: #EC964A;
        }
    }
    .rename {
        right: 20px;
        bottom: 20px;
        position: absolute;
        text-align: center;
    }
    .renameButton {
        background-color: #EC964A;
        width: 100px
    }
}